<html>
    <header>
        <link rel="stylesheet" href="/stylesheets/design.css">
    </header>
    <body>
        <h1>This is my EJS template</h1>

        <p> <%= id %></p>
        <p> <%= username %></p>
    </body>
</html>
    

    